DECLARE @Timestmp_Start datetime2(3)
DECLARE @Timestmp_End   datetime2(3)

SET @Timestmp_Start = CONVERT(datetime,'Jul 25 17:00:00 2017')
SET @Timestmp_End   = CONVERT(datetime,'Jul 26 09:00:00 2017')

-- PING 
IF OBJECT_ID ('tempdb..#ping1' ) IS NOT NULL
    DROP TABLE #ping1
SELECT IMSI
	   ,COUNT(errorCode)										 AS PING_ATTEMPTS_COUNT
	   ,SUM(CASE WHEN errorCode = 0 THEN 1 ELSE 0 END)			 AS PING_SUCCESS_COUNT
INTO #ping1
FROM
(select   p.TestId
		,p.errorCode
		,p.RTT
		,cdr.Test_Name
		,cdr.Test_Start_Time
		,cdr.IMSI
from ResultsPingTest p
left outer join NEW_CDR_Data_2017 cdr on cdr.TestID = p.TestId
WHERE Test_Start_Time between @Timestmp_Start and @Timestmp_End) AS T
GROUP BY IMSI

IF OBJECT_ID ('tempdb..#ping2' ) IS NOT NULL
    DROP TABLE #ping2
SELECT IMSI
	   ,master.dbo.Quantil(RTT,0.05)							 AS PING_RTT_PERCENTILE_5
	   ,master.dbo.Quantil(RTT,0.10)							 AS PING_RTT_PERCENTILE_10
	   ,master.dbo.Quantil(RTT,0.20)							 AS PING_RTT_PERCENTILE_20
	   ,master.dbo.Quantil(RTT,0.50)							 AS PING_RTT_PERCENTILE_50
	   ,AVG(RTT)												 AS PING_RTT_MEAN
	   ,STDEV(RTT)												 AS PING_RTT_STDEV
	   ,master.dbo.Quantil(RTT,0.80)							 AS PING_RTT_PERCENTILE_80
	   ,master.dbo.Quantil(RTT,0.90)							 AS PING_RTT_PERCENTILE_90
	   ,master.dbo.Quantil(RTT,0.95)							 AS PING_RTT_PERCENTILE_95
INTO #ping2
FROM
(select   p.TestId
		,p.errorCode
		,p.RTT
		,cdr.Test_Name
		,cdr.Test_Start_Time
		,cdr.IMSI
from ResultsPingTest p
left outer join NEW_CDR_Data_2017 cdr on cdr.TestID = p.TestId
WHERE RTT > 0 and Test_Start_Time between @Timestmp_Start and @Timestmp_End) AS T
GROUP BY IMSI

IF OBJECT_ID ('tempdb..#ping' ) IS NOT NULL
    DROP TABLE #ping
SELECT p1.*
		,p2.PING_RTT_PERCENTILE_5
		,p2.PING_RTT_PERCENTILE_10
		,p2.PING_RTT_PERCENTILE_20
		,p2.PING_RTT_PERCENTILE_50
		,p2.PING_RTT_MEAN
		,p2.PING_RTT_STDEV
		,p2.PING_RTT_PERCENTILE_80
		,p2.PING_RTT_PERCENTILE_90
		,p2.PING_RTT_PERCENTILE_95
INTO #ping
FRoM #ping1 p1
LEFT OUTER JOIN #ping2 p2 on p2.IMSI = p1.IMSI

-- IP Service Access Time
IF OBJECT_ID ('tempdb..#IpServAcc1' ) IS NOT NULL
    DROP TABLE #IpServAcc1
SELECT [TestId]
	  ,case when ErrorCode=0 THEN 'Success'
		ELSE 'Failed'
		END AS [KPIStatus]
      ,[Duration]	AS IP_Service_Access_Time
  INTO #IpServAcc1
  -- select *
  FROM [vResultsKPI1]
  WHERE KPIId in (10400,10401,10402,10403,10406,10407)
		AND StartTime between @Timestmp_Start and @Timestmp_End
  ORDER BY TestId

IF OBJECT_ID ('tempdb..#IpServAcc2' ) IS NOT NULL
    DROP TABLE #IpServAcc2
SELECT IMSI,Test_Name
		,SUM(CASE WHEN KPIStatus like 'Success' THEN 1 ELSE 0 END)			AS IP_SERVICE_ACCESS_SUCCESS
		,COUNT(KPIStatus)														AS IP_SERVICE_ACCESS_ATTEMPTS
INTO #IpServAcc2  
FROM (SELECT sa.*
	   ,cdr.QoS
	   ,cdr.IMSI
	   ,cdr.[Type_of_Test]
	   ,cdr.[Test_Name]
	   ,cdr.[Test_Info]
FROM #IpServAcc1 sa
LEFT OUTER JOIN NEW_CDR_Data_2017 cdr on cdr.TestID = sa.TestId) AS T
GROUP BY IMSI,Test_Name

IF OBJECT_ID ('tempdb..#IpServAcc3' ) IS NOT NULL
    DROP TABLE #IpServAcc3
SELECT IMSI,Test_Name
		,MIN(IP_Service_Access_Time)										AS IP_SERVICE_ACCESS_DELAY_TIME_MIN          
		,master.dbo.Quantil(IP_Service_Access_Time,0.05)					AS IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5 
		,master.dbo.Quantil(IP_Service_Access_Time,0.10)					AS IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10
		,master.dbo.Quantil(IP_Service_Access_Time,0.20)					AS IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20
		,AVG(IP_Service_Access_Time)										AS IP_SERVICE_ACCESS_DELAY_TIME_MEAN   
		,STDEV(IP_Service_Access_Time)										AS IP_SERVICE_ACCESS_DELAY_TIME_STDEV          
		,master.dbo.Quantil(IP_Service_Access_Time,0.50)					AS IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50
		,master.dbo.Quantil(IP_Service_Access_Time,0.80)					AS IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80
		,master.dbo.Quantil(IP_Service_Access_Time,0.90)					AS IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90
		,master.dbo.Quantil(IP_Service_Access_Time,0.95)					AS IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95
		,MAX(IP_Service_Access_Time)										AS IP_SERVICE_ACCESS_DELAY_TIME_MAX  
INTO #IpServAcc3 
FROM (SELECT sa.*
	   ,cdr.QoS
	   ,cdr.IMSI
	   ,cdr.[Type_of_Test]
	   ,cdr.[Test_Name]
	   ,cdr.[Test_Info]
FROM #IpServAcc1 sa
LEFT OUTER JOIN NEW_CDR_Data_2017 cdr on cdr.TestID = sa.TestId
WHERE KPIStatus like 'Success') AS T
GROUP BY IMSI,Test_Name

IF OBJECT_ID ('tempdb..#IpServAcc' ) IS NOT NULL
    DROP TABLE #IpServAcc
SELECT i3.* 
	   ,i2.IP_SERVICE_ACCESS_SUCCESS
	   ,i2.IP_SERVICE_ACCESS_ATTEMPTS
INTO #IpServAcc
FROM #IpServAcc3 i3
LEFT OUTER JOIN #IpServAcc2 i2 on i2.IMSI = i3.IMSI and i2.Test_Name=i3.Test_Name

-- PDP Context statistics
IF OBJECT_ID ('tempdb..#PDPContext1' ) IS NOT NULL
    DROP TABLE #PDPContext1
SELECT [TestId]
	  ,SessionId
	  ,case when ErrorCode=0 THEN 'Success'
		ELSE 'Failed'
		END AS [KPIStatus]
      ,case when ErrorCode=0 THEN [Duration] 
			else null
			END AS PDP_Context_Activation_Time
  INTO #PDPContext1
  FROM [vResultsKPI1]
  WHERE KPIId in (15200,15250) and TestId = 0
			AND StartTime between @Timestmp_Start and @Timestmp_End

IF OBJECT_ID ('tempdb..#PDPContext2' ) IS NOT NULL
    DROP TABLE #PDPContext2
SELECT IMSI
		,SUM(CASE WHEN KPIStatus like 'Success' THEN 1 ELSE 0 END)			    AS PDP_CONTEXT_ACTIVATION_SUCCESS
		,COUNT(KPIStatus)														AS PDP_CONTEXT_ACTIVATION_ATTEMPTS
INTO #PDPContext2  
FROM (SELECT sa.*
	   ,cdr.IMSI
FROM #PDPContext1 sa
LEFT OUTER JOIN NEW_CDR_Data_2017 cdr on sa.SessionId=cdr.SessionID ) AS T
GROUP BY IMSI


IF OBJECT_ID ('tempdb..#PDPContext3' ) IS NOT NULL
    DROP TABLE #PDPContext3
SELECT IMSI
		,MIN(PDP_Context_Activation_Time)										AS PDP_CONTEXT_ACTIVATION_TIME_MIN          
		,master.dbo.Quantil(PDP_Context_Activation_Time,0.05)					AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_5 
		,master.dbo.Quantil(PDP_Context_Activation_Time,0.10)					AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_10
		,master.dbo.Quantil(PDP_Context_Activation_Time,0.20)					AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_20
		,AVG(PDP_Context_Activation_Time)										AS PDP_CONTEXT_ACTIVATION_TIME_MEAN  
		,STDEV(PDP_Context_Activation_Time)										AS PDP_CONTEXT_ACTIVATION_TIME_STDEV       
		,master.dbo.Quantil(PDP_Context_Activation_Time,0.50)					AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_50
		,master.dbo.Quantil(PDP_Context_Activation_Time,0.80)					AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_80
		,master.dbo.Quantil(PDP_Context_Activation_Time,0.90)					AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_90
		,master.dbo.Quantil(PDP_Context_Activation_Time,0.95)					AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_95
		,MAX(PDP_Context_Activation_Time)										AS PDP_CONTEXT_ACTIVATION_TIME_MAX  
INTO #PDPContext3 
FROM (SELECT sa.TestId, sa.KPIStatus, sa.PDP_Context_Activation_Time
	   ,cdr.QoS
	   ,cdr.IMSI
FROM #PDPContext1 sa
LEFT OUTER JOIN NEW_CDR_Data_2017 cdr on cdr.SessionId = sa.SessionId
WHERE KPIStatus like 'Success') AS T
GROUP BY IMSI

--select * from #PDPContext3 

IF OBJECT_ID ('tempdb..#PDPContext' ) IS NOT NULL
    DROP TABLE #PDPContext 
SELECT i3.* 
	   ,i2.PDP_CONTEXT_ACTIVATION_SUCCESS
	   ,i2.PDP_CONTEXT_ACTIVATION_ATTEMPTS
INTO #PDPContext
FROM #PDPContext3 i3
LEFT OUTER JOIN #PDPContext2 i2 on i2.IMSI = i3.IMSI

-- select * from #PDPContext

-- THROUGHPUT STATISTICS
IF OBJECT_ID ('tempdb..#MDRDL' ) IS NOT NULL
    DROP TABLE #MDRDL
SELECT [IMSI]
	  ,MIN([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_DL_MIN
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_5
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_10
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_20
	  ,AVG([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_DL_MEAN
	  ,STDEV([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_DL_STDEV
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_50
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_80
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_90
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_95
	  ,MAX([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_DL_MAX
  INTO #MDRDL
  FROM [NEW_CDR_Data_2017]
  WHERE Validity = 1 and Test_Start_Time between @Timestmp_Start and @Timestmp_End
		and Test_Name like 'FDTT http DL%' and QoS like 'Completed'
  GROUP BY IMSI

-- THROUGHPUT STATISTICS
IF OBJECT_ID ('tempdb..#MDRUL' ) IS NOT NULL
    DROP TABLE #MDRUL
SELECT [IMSI]
	  ,MIN([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_UL_MIN
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_5
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_10
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_20
	  ,AVG([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_UL_MEAN
	  ,STDEV([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_UL_STDEV
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_50
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_80
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_90
	  ,master.dbo.Quantil([MDR_Kbit/s],0.05)	AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_95
	  ,MAX([MDR_Kbit/s])						AS HTTP_TRANSFER_FDTT_UL_MAX
  INTO #MDRUL
  FROM [NEW_CDR_Data_2017]
  WHERE Validity = 1 and Test_Start_Time between @Timestmp_Start and @Timestmp_End
		and Test_Name like 'FDTT http UL%' and QoS like 'Completed'
  GROUP BY IMSI

IF OBJECT_ID ('tempdb..#results' ) IS NOT NULL DROP TABLE #results
SELECT cdr.[IMSI]
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' THEN 1 ELSE 0 END)																			AS HTTP_TRANSFER_FDTT_DL_SAMPLES_COUNT
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' THEN 1 ELSE 0 END)													AS HTTP_TRANSFER_FDTT_DL_SUCCESS_COUNT
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Fail%' THEN 1 ELSE 0 END)														AS HTTP_TRANSFER_FDTT_DL_FAILED_COUNT
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Cut%' THEN 1 ELSE 0 END)														AS HTTP_TRANSFER_FDTT_DL_CUTOFF_COUNT
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_MIN           from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_MIN          
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_PERCENTILE_5  from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_5 
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_PERCENTILE_10 from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_10
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_PERCENTILE_20 from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_20
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_MEAN          from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_MEAN   
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_STDEV         from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_STDEV        
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_PERCENTILE_50 from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_50
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_PERCENTILE_80 from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_80
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_PERCENTILE_90 from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_90
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_PERCENTILE_95 from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_PERCENTILE_95
	  ,(SELECT HTTP_TRANSFER_FDTT_DL_MAX           from #MDRDL WHERE IMSI = cdr.IMSI)															AS HTTP_TRANSFER_FDTT_DL_MAX 
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 10 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_10Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 20 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_20Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 30 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_30Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 40 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_40Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 50 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_50Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 60 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_60Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 70 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_70Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 80 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_80Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 90 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_90Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 100 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_100Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 110 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_110Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 120 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_120Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 130 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_130Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 140 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_140Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 150 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_150Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 160 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_160Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 170 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_170Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 180 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_180Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 190 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_190Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 200 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_200Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 210 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_210Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 220 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_220Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 230 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_230Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 240 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_240Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 250 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_250Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 260 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_260Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 270 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_270Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 280 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_280Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 290 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_290Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http DL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 300 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_DL_300Kbits
	  ,(SELECT IP_SERVICE_ACCESS_ATTEMPTS 				  from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_ATTEMPTS
	  ,(SELECT IP_SERVICE_ACCESS_SUCCESS 				  from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_MIN           from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MIN          
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5  from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5 
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_MEAN          from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_STDEV          from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV         
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')				AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_MAX      		from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http DL%')			AS HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MAX         
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' THEN 1 ELSE 0 END)																			AS HTTP_TRANSFER_FDTT_UL_SAMPLES_COUNT
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' THEN 1 ELSE 0 END)													AS HTTP_TRANSFER_FDTT_UL_SUCCESS_COUNT
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Fail%' THEN 1 ELSE 0 END)														AS HTTP_TRANSFER_FDTT_UL_FAILED_COUNT
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Cut%' THEN 1 ELSE 0 END)														AS HTTP_TRANSFER_FDTT_UL_CUTOFF_COUNT
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_MIN           from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_MIN          
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_PERCENTILE_5  from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_5 
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_PERCENTILE_10 from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_10
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_PERCENTILE_20 from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_20
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_MEAN          from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_MEAN         
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_STDEV          from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_STDEV
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_PERCENTILE_50 from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_50
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_PERCENTILE_80 from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_80
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_PERCENTILE_90 from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_90
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_PERCENTILE_95 from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_PERCENTILE_95
	  ,(SELECT HTTP_TRANSFER_FDTT_UL_MAX           from #MDRUL WHERE IMSI = cdr.IMSI)														    AS HTTP_TRANSFER_FDTT_UL_MAX      
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 10 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_10Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 20 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_20Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 30 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_30Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 40 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_40Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 50 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_50Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 60 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_60Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 70 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_70Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 80 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_80Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 90 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_90Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 100 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_100Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 110 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_110Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 120 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_120Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 130 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_130Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 140 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_140Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 150 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_150Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 160 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_160Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 170 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_170Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 180 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_180Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 190 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_190Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 200 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_200Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 210 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_210Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 220 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_220Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 230 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_230Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 240 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_240Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 250 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_250Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 260 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_260Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 270 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_270Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 280 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_280Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 290 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_290Kbits
	  ,SUM(CASE WHEN Test_Name like 'FDTT http UL%' and QoS like 'Completed' and [MDR_Kbit/s] <= 300 THEN 1 ELSE 0 END)							AS HTTP_TRANSFER_FDTT_UL_300Kbits
	  ,(SELECT IP_SERVICE_ACCESS_ATTEMPTS 				from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_ATTEMPTS
	  ,(SELECT IP_SERVICE_ACCESS_SUCCESS 					from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')			AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_MIN           from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MIN          
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5  from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5 
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_MEAN          from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN         
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_STDEV         from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95 from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')				AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95
	  ,(SELECT IP_SERVICE_ACCESS_DELAY_TIME_MAX      		from #IpServAcc WHERE IMSI = cdr.IMSI and Test_Name like 'FDTT http UL%')			AS HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MAX       
	  ,(SELECT  PING_ATTEMPTS_COUNT		 from #ping WHERE IMSI = cdr.IMSI) AS PING_ATTEMPTS_COUNT
	  ,(SELECT  PING_SUCCESS_COUNT		 from #ping WHERE IMSI = cdr.IMSI) AS PING_SUCCESS_COUNT
	  ,(SELECT  PING_RTT_PERCENTILE_5    from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_PERCENTILE_5
	  ,(SELECT  PING_RTT_PERCENTILE_10   from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_PERCENTILE_10
	  ,(SELECT  PING_RTT_PERCENTILE_20   from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_PERCENTILE_20
	  ,(SELECT  PING_RTT_PERCENTILE_50   from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_PERCENTILE_50
	  ,(SELECT  PING_RTT_MEAN			 from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_MEAN
	  ,(SELECT  PING_RTT_STDEV			 from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_STDEV
	  ,(SELECT  PING_RTT_PERCENTILE_80   from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_PERCENTILE_80
	  ,(SELECT  PING_RTT_PERCENTILE_90   from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_PERCENTILE_90
	  ,(SELECT  PING_RTT_PERCENTILE_95   from #ping WHERE IMSI = cdr.IMSI) AS PING_RTT_PERCENTILE_95
	  ,SUM(CASE WHEN Test_Name like 'Video Streaming%' THEN 1 ELSE 0 END)																			AS VIDEO_STREAM_SAMPLES_COUNT
	  ,SUM(CASE WHEN Test_Name like 'Video Streaming%' and QoS like 'Completed' THEN 1 ELSE 0 END)													AS VIDEO_STREAM_SUCCESS_COUNT
	  ,SUM(CASE WHEN Test_Name like 'Video Streaming%' and QoS like 'Fail%' THEN 1 ELSE 0 END)														AS VIDEO_STREAM_FAILED_COUNT
	  ,SUM(CASE WHEN Test_Name like 'Video Streaming%' and QoS like 'Cut%' THEN 1 ELSE 0 END)														AS VIDEO_STREAM_CUTOFF_COUNT
	  ,SUM(CASE WHEN Test_Name like 'Video Streaming%' and YouTube_Freezing_Time_Sum_s is not null THEN YouTube_Freezing_Time_Sum_s ELSE 0 END)/nullif(SUM(CASE WHEN Test_Name like 'Video Streaming%' and YouTube_Freezing_Time_Sum_s is not null THEN 1 ELSE 0 END),0)	AS VIDEO_STREAM_FREAZING_TIME_AVERAGE
	  ,(SELECT PDP_CONTEXT_ACTIVATION_ATTEMPTS           from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_ATTEMPTS 
	  ,(SELECT PDP_CONTEXT_ACTIVATION_SUCCESS            from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_SUCCESS 
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_MIN           from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_MIN          
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_5  from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_5 
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_10 from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_10
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_20 from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_20
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_MEAN          from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_MEAN         
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_STDEV         from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_STDEV
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_50 from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_50
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_80 from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_80
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_90 from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_90
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_95 from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_95
	  ,(SELECT PDP_CONTEXT_ACTIVATION_TIME_MAX           from #PDPContext WHERE IMSI = cdr.IMSI)													AS PDP_CONTEXT_ACTIVATION_TIME_MAX 

  INTO #results
  FROM [NEW_CDR_Data_2017] cdr
  WHERE Validity = 1 and Test_Start_Time between @Timestmp_Start and @Timestmp_End
  GROUP BY cdr.IMSI

SELECT   [IMSI]
		,[HTTP_TRANSFER_FDTT_DL_SAMPLES_COUNT]
		,[HTTP_TRANSFER_FDTT_DL_SUCCESS_COUNT]
		,[HTTP_TRANSFER_FDTT_DL_FAILED_COUNT]
		,[HTTP_TRANSFER_FDTT_DL_FAILED_RATE]
		,1.96*(SQRT([HTTP_TRANSFER_FDTT_DL_FAILED_RATE]*(1- [HTTP_TRANSFER_FDTT_DL_FAILED_RATE]) / nullif([HTTP_TRANSFER_FDTT_DL_SAMPLES_COUNT],0))) AS [HTTP_TRANSFER_FDTT_DL_FAILED_RATE_95CI]
		,[HTTP_TRANSFER_FDTT_DL_CUTOFF_COUNT]
		,[HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE]
		,1.96*(SQRT([HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE]*(1- [HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE]) / nullif([HTTP_TRANSFER_FDTT_DL_SAMPLES_COUNT],0))) AS [HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE_95CI]
		,[HTTP_TRANSFER_FDTT_DL_MIN]
		,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_5]
		,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_10]
		,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_20]
		,[HTTP_TRANSFER_FDTT_DL_MEAN]
		,[HTTP_TRANSFER_FDTT_DL_STDEV]
		,1.96*[HTTP_TRANSFER_FDTT_DL_STDEV] / SQRT([HTTP_TRANSFER_FDTT_DL_SUCCESS_COUNT]) AS [HTTP_TRANSFER_FDTT_DL_MEAN_95CI]
		,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_50]
		,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_80]
		,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_90]
		,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_95]
		,[HTTP_TRANSFER_FDTT_DL_MAX]
		,[HTTP_TRANSFER_FDTT_DL_10Kbits]
		,[HTTP_TRANSFER_FDTT_DL_20Kbits]
		,[HTTP_TRANSFER_FDTT_DL_30Kbits]
		,[HTTP_TRANSFER_FDTT_DL_40Kbits]
		,[HTTP_TRANSFER_FDTT_DL_50Kbits]
		,[HTTP_TRANSFER_FDTT_DL_60Kbits]
		,[HTTP_TRANSFER_FDTT_DL_70Kbits]
		,[HTTP_TRANSFER_FDTT_DL_80Kbits]
		,[HTTP_TRANSFER_FDTT_DL_90Kbits]
		,[HTTP_TRANSFER_FDTT_DL_100Kbits]
		,[HTTP_TRANSFER_FDTT_DL_110Kbits]
		,[HTTP_TRANSFER_FDTT_DL_120Kbits]
		,[HTTP_TRANSFER_FDTT_DL_130Kbits]
		,[HTTP_TRANSFER_FDTT_DL_140Kbits]
		,[HTTP_TRANSFER_FDTT_DL_150Kbits]
		,[HTTP_TRANSFER_FDTT_DL_160Kbits]
		,[HTTP_TRANSFER_FDTT_DL_170Kbits]
		,[HTTP_TRANSFER_FDTT_DL_180Kbits]
		,[HTTP_TRANSFER_FDTT_DL_190Kbits]
		,[HTTP_TRANSFER_FDTT_DL_200Kbits]
		,[HTTP_TRANSFER_FDTT_DL_210Kbits]
		,[HTTP_TRANSFER_FDTT_DL_220Kbits]
		,[HTTP_TRANSFER_FDTT_DL_230Kbits]
		,[HTTP_TRANSFER_FDTT_DL_240Kbits]
		,[HTTP_TRANSFER_FDTT_DL_250Kbits]
		,[HTTP_TRANSFER_FDTT_DL_260Kbits]
		,[HTTP_TRANSFER_FDTT_DL_270Kbits]
		,[HTTP_TRANSFER_FDTT_DL_280Kbits]
		,[HTTP_TRANSFER_FDTT_DL_290Kbits]
		,[HTTP_TRANSFER_FDTT_DL_300Kbits]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_ATTEMPTS]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS_RATE]
		,1.96*(SQRT([HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS_RATE]*(1- [HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS_RATE]) / nullif([HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_ATTEMPTS],0))) AS [HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS_RATE_95CI]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MIN]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV]
		,1.96*[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV] / SQRT([HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS]) AS [HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN_95CI]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95]
		,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MAX]
		,[HTTP_TRANSFER_FDTT_UL_SAMPLES_COUNT]
		,[HTTP_TRANSFER_FDTT_UL_SUCCESS_COUNT]
		,[HTTP_TRANSFER_FDTT_UL_FAILED_COUNT]
		,[HTTP_TRANSFER_FDTT_UL_FAILED_RATE]
		,1.96*(SQRT([HTTP_TRANSFER_FDTT_UL_FAILED_RATE]*(1- [HTTP_TRANSFER_FDTT_UL_FAILED_RATE]) / nullif([HTTP_TRANSFER_FDTT_UL_SAMPLES_COUNT],0))) AS [HTTP_TRANSFER_FDTT_UL_FAILED_RATE_95CI]
		,[HTTP_TRANSFER_FDTT_UL_CUTOFF_COUNT]
		,[HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE]
		,1.96*(SQRT([HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE]*(1- [HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE]) / nullif([HTTP_TRANSFER_FDTT_UL_SAMPLES_COUNT],0))) AS [HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE_95CI]
		,[HTTP_TRANSFER_FDTT_UL_MIN]
		,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_5]
		,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_10]
		,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_20]
		,[HTTP_TRANSFER_FDTT_UL_MEAN]
		,[HTTP_TRANSFER_FDTT_UL_STDEV]
		,1.96*[HTTP_TRANSFER_FDTT_UL_STDEV] / SQRT([HTTP_TRANSFER_FDTT_UL_SUCCESS_COUNT]) AS [HTTP_TRANSFER_FDTT_UL_MEAN_95CI]
		,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_50]
		,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_80]
		,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_90]
		,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_95]
		,[HTTP_TRANSFER_FDTT_UL_MAX]
		,[HTTP_TRANSFER_FDTT_UL_10Kbits]
		,[HTTP_TRANSFER_FDTT_UL_20Kbits]
		,[HTTP_TRANSFER_FDTT_UL_30Kbits]
		,[HTTP_TRANSFER_FDTT_UL_40Kbits]
		,[HTTP_TRANSFER_FDTT_UL_50Kbits]
		,[HTTP_TRANSFER_FDTT_UL_60Kbits]
		,[HTTP_TRANSFER_FDTT_UL_70Kbits]
		,[HTTP_TRANSFER_FDTT_UL_80Kbits]
		,[HTTP_TRANSFER_FDTT_UL_90Kbits]
		,[HTTP_TRANSFER_FDTT_UL_100Kbits]
		,[HTTP_TRANSFER_FDTT_UL_110Kbits]
		,[HTTP_TRANSFER_FDTT_UL_120Kbits]
		,[HTTP_TRANSFER_FDTT_UL_130Kbits]
		,[HTTP_TRANSFER_FDTT_UL_140Kbits]
		,[HTTP_TRANSFER_FDTT_UL_150Kbits]
		,[HTTP_TRANSFER_FDTT_UL_160Kbits]
		,[HTTP_TRANSFER_FDTT_UL_170Kbits]
		,[HTTP_TRANSFER_FDTT_UL_180Kbits]
		,[HTTP_TRANSFER_FDTT_UL_190Kbits]
		,[HTTP_TRANSFER_FDTT_UL_200Kbits]
		,[HTTP_TRANSFER_FDTT_UL_210Kbits]
		,[HTTP_TRANSFER_FDTT_UL_220Kbits]
		,[HTTP_TRANSFER_FDTT_UL_230Kbits]
		,[HTTP_TRANSFER_FDTT_UL_240Kbits]
		,[HTTP_TRANSFER_FDTT_UL_250Kbits]
		,[HTTP_TRANSFER_FDTT_UL_260Kbits]
		,[HTTP_TRANSFER_FDTT_UL_270Kbits]
		,[HTTP_TRANSFER_FDTT_UL_280Kbits]
		,[HTTP_TRANSFER_FDTT_UL_290Kbits]
		,[HTTP_TRANSFER_FDTT_UL_300Kbits]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_ATTEMPTS]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS_RATE]
		,1.96*(SQRT([HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS_RATE]*(1- [HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS_RATE]) / nullif([HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_ATTEMPTS],0))) AS [HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS_RATE_95CI]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MIN]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV]
		,1.96*[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV] / SQRT([HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS]) AS [HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN_95CI]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95]
		,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MAX]
		,[PING_ATTEMPTS_COUNT]
		,[PING_SUCCESS_COUNT]
		,[PING_SUCCESS_RATE]
		,1.96*(SQRT([PING_SUCCESS_RATE]*(1- [PING_SUCCESS_RATE]) / nullif([PING_ATTEMPTS_COUNT],0))) AS [PING_SUCCESS_RATE_95CI]
		,[PING_RTT_PERCENTILE_5]
		,[PING_RTT_PERCENTILE_10]
		,[PING_RTT_PERCENTILE_20]
		,[PING_RTT_PERCENTILE_50]
		,[PING_RTT_MEAN]
		,[PING_RTT_STDEV]
		,1.96*[PING_RTT_STDEV] / SQRT([PING_SUCCESS_COUNT]) AS [PING_RTT_MEAN_95CI]
		,[PING_RTT_PERCENTILE_80]
		,[PING_RTT_PERCENTILE_90]
		,[PING_RTT_PERCENTILE_95]
		,[VIDEO_STREAM_SAMPLES_COUNT]
		,[VIDEO_STREAM_SUCCESS_COUNT]
		,[VIDEO_STREAM_FAILED_COUNT]
		,[VIDEO_STREAM_FAILED_RATE]
		,1.96*(SQRT([VIDEO_STREAM_FAILED_RATE]*(1- [VIDEO_STREAM_FAILED_RATE]) / nullif([VIDEO_STREAM_SAMPLES_COUNT],0))) AS [VIDEO_STREAM_FAILED_RATE_95CI]
		,[VIDEO_STREAM_CUTOFF_COUNT]
		,[VIDEO_STREAM_CUTOFF_RATE]
		,1.96*(SQRT([VIDEO_STREAM_CUTOFF_RATE]*(1- [VIDEO_STREAM_CUTOFF_RATE]) / nullif([VIDEO_STREAM_SAMPLES_COUNT],0))) AS [VIDEO_STREAM_CUTOFF_RATE_95CI]
		,[VIDEO_STREAM_FREAZING_TIME_AVERAGE]
		,[PDP_CONTEXT_ACTIVATION_ATTEMPTS]
		,[PDP_CONTEXT_ACTIVATION_SUCCESS]
		,[PDP_CONTEXT_ACTIVATION_SUCCESS_RATE]
		,1.96*(SQRT([PDP_CONTEXT_ACTIVATION_SUCCESS_RATE]*(1- [PDP_CONTEXT_ACTIVATION_SUCCESS_RATE]) / nullif([PDP_CONTEXT_ACTIVATION_ATTEMPTS],0))) AS [PDP_CONTEXT_ACTIVATION_SUCCESS_RATE_95CI]
		,[PDP_CONTEXT_ACTIVATION_TIME_MIN]
		,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_5]
		,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_10]
		,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_20]
		,[PDP_CONTEXT_ACTIVATION_TIME_MEAN]
		,[PDP_CONTEXT_ACTIVATION_TIME_STDEV]
		,1.96*[PDP_CONTEXT_ACTIVATION_TIME_STDEV] / SQRT([PDP_CONTEXT_ACTIVATION_SUCCESS]) AS [PDP_CONTEXT_ACTIVATION_TIME_MEAN_95CI]
		,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_50]
		,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_80]
		,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_90]
		,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_95]
,[PDP_CONTEXT_ACTIVATION_TIME_MAX]
FROM
(SELECT [IMSI]
,[HTTP_TRANSFER_FDTT_DL_SAMPLES_COUNT]
,[HTTP_TRANSFER_FDTT_DL_SUCCESS_COUNT]
,[HTTP_TRANSFER_FDTT_DL_FAILED_COUNT]
,(1.0*[HTTP_TRANSFER_FDTT_DL_FAILED_COUNT]/nullif([HTTP_TRANSFER_FDTT_DL_SAMPLES_COUNT],0)) AS [HTTP_TRANSFER_FDTT_DL_FAILED_RATE]
,[HTTP_TRANSFER_FDTT_DL_CUTOFF_COUNT]
,1.0*[HTTP_TRANSFER_FDTT_DL_CUTOFF_COUNT]/nullif([HTTP_TRANSFER_FDTT_DL_SAMPLES_COUNT],0) AS [HTTP_TRANSFER_FDTT_DL_CUTOFF_RATE]
,[HTTP_TRANSFER_FDTT_DL_MIN]
,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_5]
,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_10]
,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_20]
,[HTTP_TRANSFER_FDTT_DL_MEAN]
,[HTTP_TRANSFER_FDTT_DL_STDEV]
,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_50]
,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_80]
,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_90]
,[HTTP_TRANSFER_FDTT_DL_PERCENTILE_95]
,[HTTP_TRANSFER_FDTT_DL_MAX]
,[HTTP_TRANSFER_FDTT_DL_10Kbits]
,[HTTP_TRANSFER_FDTT_DL_20Kbits]
,[HTTP_TRANSFER_FDTT_DL_30Kbits]
,[HTTP_TRANSFER_FDTT_DL_40Kbits]
,[HTTP_TRANSFER_FDTT_DL_50Kbits]
,[HTTP_TRANSFER_FDTT_DL_60Kbits]
,[HTTP_TRANSFER_FDTT_DL_70Kbits]
,[HTTP_TRANSFER_FDTT_DL_80Kbits]
,[HTTP_TRANSFER_FDTT_DL_90Kbits]
,[HTTP_TRANSFER_FDTT_DL_100Kbits]
,[HTTP_TRANSFER_FDTT_DL_110Kbits]
,[HTTP_TRANSFER_FDTT_DL_120Kbits]
,[HTTP_TRANSFER_FDTT_DL_130Kbits]
,[HTTP_TRANSFER_FDTT_DL_140Kbits]
,[HTTP_TRANSFER_FDTT_DL_150Kbits]
,[HTTP_TRANSFER_FDTT_DL_160Kbits]
,[HTTP_TRANSFER_FDTT_DL_170Kbits]
,[HTTP_TRANSFER_FDTT_DL_180Kbits]
,[HTTP_TRANSFER_FDTT_DL_190Kbits]
,[HTTP_TRANSFER_FDTT_DL_200Kbits]
,[HTTP_TRANSFER_FDTT_DL_210Kbits]
,[HTTP_TRANSFER_FDTT_DL_220Kbits]
,[HTTP_TRANSFER_FDTT_DL_230Kbits]
,[HTTP_TRANSFER_FDTT_DL_240Kbits]
,[HTTP_TRANSFER_FDTT_DL_250Kbits]
,[HTTP_TRANSFER_FDTT_DL_260Kbits]
,[HTTP_TRANSFER_FDTT_DL_270Kbits]
,[HTTP_TRANSFER_FDTT_DL_280Kbits]
,[HTTP_TRANSFER_FDTT_DL_290Kbits]
,[HTTP_TRANSFER_FDTT_DL_300Kbits]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_ATTEMPTS]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS]
,1.0*[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS]/nullif([HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_ATTEMPTS],0) AS [HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_SUCCESS_RATE]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MIN]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95]
,[HTTP_TRANSFER_FDTT_DL_IP_SERVICE_ACCESS_DELAY_TIME_MAX]
,[HTTP_TRANSFER_FDTT_UL_SAMPLES_COUNT]
,[HTTP_TRANSFER_FDTT_UL_SUCCESS_COUNT]
,[HTTP_TRANSFER_FDTT_UL_FAILED_COUNT]
,(1.0*[HTTP_TRANSFER_FDTT_UL_FAILED_COUNT]/nullif([HTTP_TRANSFER_FDTT_UL_SAMPLES_COUNT],0)) AS [HTTP_TRANSFER_FDTT_UL_FAILED_RATE]
,[HTTP_TRANSFER_FDTT_UL_CUTOFF_COUNT]
,1.0*[HTTP_TRANSFER_FDTT_UL_CUTOFF_COUNT]/nullif([HTTP_TRANSFER_FDTT_UL_SAMPLES_COUNT],0) AS [HTTP_TRANSFER_FDTT_UL_CUTOFF_RATE]
,[HTTP_TRANSFER_FDTT_UL_MIN]
,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_5]
,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_10]
,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_20]
,[HTTP_TRANSFER_FDTT_UL_MEAN]
,[HTTP_TRANSFER_FDTT_UL_STDEV]
,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_50]
,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_80]
,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_90]
,[HTTP_TRANSFER_FDTT_UL_PERCENTILE_95]
,[HTTP_TRANSFER_FDTT_UL_MAX]
,[HTTP_TRANSFER_FDTT_UL_10Kbits]
,[HTTP_TRANSFER_FDTT_UL_20Kbits]
,[HTTP_TRANSFER_FDTT_UL_30Kbits]
,[HTTP_TRANSFER_FDTT_UL_40Kbits]
,[HTTP_TRANSFER_FDTT_UL_50Kbits]
,[HTTP_TRANSFER_FDTT_UL_60Kbits]
,[HTTP_TRANSFER_FDTT_UL_70Kbits]
,[HTTP_TRANSFER_FDTT_UL_80Kbits]
,[HTTP_TRANSFER_FDTT_UL_90Kbits]
,[HTTP_TRANSFER_FDTT_UL_100Kbits]
,[HTTP_TRANSFER_FDTT_UL_110Kbits]
,[HTTP_TRANSFER_FDTT_UL_120Kbits]
,[HTTP_TRANSFER_FDTT_UL_130Kbits]
,[HTTP_TRANSFER_FDTT_UL_140Kbits]
,[HTTP_TRANSFER_FDTT_UL_150Kbits]
,[HTTP_TRANSFER_FDTT_UL_160Kbits]
,[HTTP_TRANSFER_FDTT_UL_170Kbits]
,[HTTP_TRANSFER_FDTT_UL_180Kbits]
,[HTTP_TRANSFER_FDTT_UL_190Kbits]
,[HTTP_TRANSFER_FDTT_UL_200Kbits]
,[HTTP_TRANSFER_FDTT_UL_210Kbits]
,[HTTP_TRANSFER_FDTT_UL_220Kbits]
,[HTTP_TRANSFER_FDTT_UL_230Kbits]
,[HTTP_TRANSFER_FDTT_UL_240Kbits]
,[HTTP_TRANSFER_FDTT_UL_250Kbits]
,[HTTP_TRANSFER_FDTT_UL_260Kbits]
,[HTTP_TRANSFER_FDTT_UL_270Kbits]
,[HTTP_TRANSFER_FDTT_UL_280Kbits]
,[HTTP_TRANSFER_FDTT_UL_290Kbits]
,[HTTP_TRANSFER_FDTT_UL_300Kbits]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_ATTEMPTS]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS]
,1.0*[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS]/nullif([HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_ATTEMPTS],0) AS [HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_SUCCESS_RATE]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MIN]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_5]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_10]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_20]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MEAN]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_STDEV]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_50]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_80]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_90]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_PERCENTILE_95]
,[HTTP_TRANSFER_FDTT_UL_IP_SERVICE_ACCESS_DELAY_TIME_MAX]
,[PING_ATTEMPTS_COUNT]
,[PING_SUCCESS_COUNT]
,1.0*[PING_SUCCESS_COUNT]/nullif([PING_ATTEMPTS_COUNT],0) AS [PING_SUCCESS_RATE]
,[PING_RTT_PERCENTILE_5]
,[PING_RTT_PERCENTILE_10]
,[PING_RTT_PERCENTILE_20]
,[PING_RTT_PERCENTILE_50]
,[PING_RTT_MEAN]
,[PING_RTT_STDEV]
,[PING_RTT_PERCENTILE_80]
,[PING_RTT_PERCENTILE_90]
,[PING_RTT_PERCENTILE_95]
,[VIDEO_STREAM_SAMPLES_COUNT]
,[VIDEO_STREAM_SUCCESS_COUNT]
,[VIDEO_STREAM_FAILED_COUNT]
,1.0*[VIDEO_STREAM_FAILED_COUNT]/nullif([VIDEO_STREAM_SAMPLES_COUNT],0) AS [VIDEO_STREAM_FAILED_RATE]
,[VIDEO_STREAM_CUTOFF_COUNT]
,1.0*[VIDEO_STREAM_CUTOFF_COUNT]/nullif([VIDEO_STREAM_SAMPLES_COUNT],0) AS [VIDEO_STREAM_CUTOFF_RATE]
,[VIDEO_STREAM_FREAZING_TIME_AVERAGE]
,[PDP_CONTEXT_ACTIVATION_ATTEMPTS]
,[PDP_CONTEXT_ACTIVATION_SUCCESS]
,1.0*[PDP_CONTEXT_ACTIVATION_SUCCESS]/nullif([PDP_CONTEXT_ACTIVATION_ATTEMPTS],0) AS [PDP_CONTEXT_ACTIVATION_SUCCESS_RATE]
,[PDP_CONTEXT_ACTIVATION_TIME_MIN]
,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_5]
,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_10]
,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_20]
,[PDP_CONTEXT_ACTIVATION_TIME_MEAN]
,[PDP_CONTEXT_ACTIVATION_TIME_STDEV]
,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_50]
,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_80]
,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_90]
,[PDP_CONTEXT_ACTIVATION_TIME_PERCENTILE_95]
,[PDP_CONTEXT_ACTIVATION_TIME_MAX]
 FROM #results) AS A